## Pengambilan Data

## Load Library

In [12]:
import pandas as pd
import time
import tweepy
import numpy as np

## Login

In [16]:
def twitter_config():
    """
    Fungsi utilitas untuk mengkonfigurasi konsumsi file API Twitter dengan␣
    ,!kunci yang disediakan.
    """
    
    # Autentikasi dan akses menggunakan keys
    auth = tweepy.OAuthHandler("5SciYdsih97OtDTKgF2uKHVYF", 
    "q7ZFbgh2lbvwYNWzrVRvJJVD2iIyG3eTJr6TVwlNFCskhtCLq1")
    auth.set_access_token("1267078093505564672-ZIhrpO4Zo3PI1BEYTqYqglJw0437Hw", 
    "okuvszLK4RStLBZbnwaDRFGqPdYEYrSitfFwRRVmAYoG6")
    
    # Kembalikan akses ke API
    api = tweepy.API(auth)
    try:
        api.verify_credentials()
        print("Authentication OK")
    except:
        print("Error during authentication")
    return api

In [17]:
# buat extractor object
extractor = twitter_config()

Authentication OK

## Ambil tweet

In [18]:
tweets = extractor.user_timeline(screen_name="asumsico", count=100)
print("Tweets terambil: {}.\n".format(len(tweets)))


print("5 tweet teratas:\n")
for tweet in tweets[:5]:
    print(tweet.text)
    print()

Tweets terambil: 100.

5 tweet teratas:

Saat ini tercatat kematian pasien AKI karena gangguan ginjal akut mencapai 133 jiwa dari total 241 orang pasien yan… https://t.co/kjbIYpXYQO

Namun tidak dilakukan penuntutan kecuali atas pengaduan dari suami atau istri orang yang terikat perkawinan, orang… https://t.co/0ti0SYImbu

Pada pasal 416 juga tertulis 'setiap orang yang melakukan hidup bersama sebagai suami istri di luar perkawinan dipi… https://t.co/OQijAu4QDD

Walaupun dalam butir (2) dijelaskan juga tindak pidana sebagaimana dimaksud di atas tidak dilakukan penuntutan kecu… https://t.co/PVjoiKqtHj

Mengutip Draf RUU KUHP, Pada pasal 415 tertulis setiap orang yang melakukan persetubuhan dengan orang yang bukan su… https://t.co/WJASInqvKT

## Data Frame

In [20]:
#Membuat kerangka data sebagai berikut:
dataset = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])

#Membuat tampilan kerangka data:
display(dataset.head(100))

                                               Tweets
0   Saat ini tercatat kematian pasien AKI karena g...
1   Namun tidak dilakukan penuntutan kecuali atas ...
2   Pada pasal 416 juga tertulis 'setiap orang yan...
3   Walaupun dalam butir (2) dijelaskan juga tinda...
4   Mengutip Draf RUU KUHP, Pada pasal 415 tertuli...
..                                                ...
95  Per tanggal 18 Oktober 2022 sebanyak 189 kasus...
96  Aipda HR di bawa ke RS Khusus Daerah Jiwa Dadi...
97  Brigjen Hendra Kurniawan meminta bantuan anggo...
98  Gubernur Jawa Tengah (Jateng) Ganjar Pranowo m...
99  Instruksi itu mengamanatkan agar tenaga Keseha...

[100 rows x 1 columns]

## Simpan csv

In [27]:
dataset.to_csv('dataset_user.csv',sep=';')

## Load Dataset

In [31]:
df = pd.read_csv('dataset_user.csv',sep=';')
df.head()

   Unnamed: 0                                             Tweets
0           0  Saat ini tercatat kematian pasien AKI karena g...
1           1  Namun tidak dilakukan penuntutan kecuali atas ...
2           2  Pada pasal 416 juga tertulis 'setiap orang yan...
3           3  Walaupun dalam butir (2) dijelaskan juga tinda...
4           4  Mengutip Draf RUU KUHP, Pada pasal 415 tertuli...